__pycache__/Accuracy.cpython-37.pyc
__pycache__/CustomTokenizer.cpython-37.pyc
__pycache__/ModelBuilder.cpython-37.pyc
.ipynb_checkpoints/Baseline-checkpoint.ipynb
.ipynb_checkpoints/Santander-Train Model-checkpoint.ipynb
